.header {
  height: 60px;
  width: 100vw;
  display: flex;
  position: fixed;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  .site-meta {
    display: flex;
    align-items: center;
    .site-title {
    }
  }
}

.menu {
  display: flex;
  margin: 0;
  .menu-item {
    list-style: none;
    padding: 10px;
  }
}
